.hero{
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 2.5rem;
        text-align: center;
    }
    div {
        font-size: 1.3rem;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        font-weight: 300;
        color: rgb(75 85 99);
    }
}

.search{
    position: relative;
    width: 100%;
    input{
        margin-top: 2rem;
        height: 50px;
        border-radius: 5px;
        border: 1px solid grey;
        width: 70%;
        padding-left: 10px;
        font-size: 1rem;
        font-family: inherit;
    }
}

.search span{
    cursor: pointer;
    position: absolute;
    right: 15.5%;
    height: 25px;
    width: 25px;
    top: 45px;
}


input:focus{
    border-color: dodgerblue !important;
}

.list{
    list-style-type: none;
    text-align: left;
    padding: 5px;
    li{
        border-bottom: 1px solid grey;
        padding: 3px;
    }
    li:hover{
        transform: scale(1.01);
    }
    li a{
        text-decoration: none;
        padding: 5px;
        color: black;
    }
}


.listContainer{
    width: 38% !important;
    margin-top: 4px !important;
    padding-top: 0px !important;
    background-color: #fdfdfd;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width: 1500px) {
    .listContainer{
        width: 51% !important;
    }
}


@media screen and (max-width: 800px) {
    .listContainer{
        width: 88% !important;
    }
    .hero{
        padding: 10px;

        h1{
            font-size: 2rem;
        }
        .search{
            input{
                width: 85%;
            }
        }
    }
    .search span{
        cursor: pointer;
        position: absolute;
        right: 8%;
        height: 25px;
        width: 25px;
        top: 45px;
    }
}


