.notification {
  overflow: hidden;
  background-color: dodgerblue;
  padding: 8px 0;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

.scrolling {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
